@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: #020617;
  color: #e2e8f0;
}

a {
  color: inherit;
  text-decoration: none;
}
